<div class="container">
    <h2 class="my-4">Lista de Produtos</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Código</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.codigo }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.preco | currency }}</td>
          <td>
            <a [routerLink]="['/produtos/editar', produto.id]" class="btn btn-warning btn-sm">Editar</a>
            <button (click)="deleteProduto(produto.id)" class="btn btn-danger btn-sm ms-2">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  