<form action="" class="form-inline justify-content-center my-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar produtos..." style="width: 300px; border-radius: 20px 0 0 20px;">
        <div class="input-group-append">
            <button class="btn btn-outline-success" style="border-radius: 0 20px 20px 0;">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>

<table class="table table-hover table-bordered text-center">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Código</th>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Fabricante</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody *ngFor="let produto of produtos">
        <tr>
            <td>
                <img src="/assets/{{produto.imagemURL}}" alt="" width="100" height="100" style="object-fit: cover; border-radius: 10px;">
            </td>
            <td>{{produto.id}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td>{{produto.codcategoria}}</td>
            <td>{{produto.codfrabricante}}</td>
            <td>
                <button class="btn btn-info btn-sm">Ver detalhes</button>
            </td>
        </tr>
    </tbody>
</table>
